node_modules/**/*
node_modules
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
run.bat
.eslintrc.json
.idea/
temp

firebase.json
discordconfig.json
oracledb.json
oraclepasswords.txt
oracle_wallet

# macOS
.DS_Store